<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<hr>
<br>
<h1>Hamma Kurslar ro'yhati</h1>
<br>
<hr>
<br>
{% for kur in kurs %}
    <h2>Nomi:{{kur.nom}},  Daraja:{{kur.daraja}},  Narx:{{kur.narx}},  Chegirma:{{kur.chegirma}}
        <a href="/edit2/{{ kur.id }}/tahrirlash/">
        <button>Tahrirlash</button>
    </a>
     {% endfor %}</h2>
<br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Qo'shish</button>
    </form>
</body>
</html>